body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    flex-direction: column;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 300px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}